.navbar{
    background-color:#FAFAFA;
    border-bottom: 1px solid grey;
    height: 70px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,0.8);
}
.navbar-brand{
    color:black;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 14%;
}
.navbar-brand:hover{
    color: black;
}
.navbar-brand img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.index-info{
    margin-top: 14%;
    margin-left: 11%;
}
.intro-info{
    margin-left: 10%;
}
.intro-info h1{
    font-size: 65px;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #404040;
}
.intro-info span{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.intro-info p{
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
}
.intro-image img{
    position: relative;
    margin-top: -5%;
}
.button{
    margin-left: 5%;
}
.button a button{
    width: 180px;
    height: 40px;
    font-size: 15px;
    font-weight: 200;
    background-color:#4BBCFB;
    color: white;
    outline: none;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 2px 2px -1px rgba(0,0,0,0.8);
}
.button .login-button{
    background-color: #FFFFFF;
    border: 1px solid #4BBCFB;
    color: #4BBCFB;
}
.button a button:hover{
    background-color: rgba(75,188,251,0.9);
    transition: 0.5s ease;
}
.button .login-button:hover{
    background-color: rgba(255,255,255,0.9);
    transition: 0.5s ease;
}
.how-it-works{
    margin-top: 12%;
}
.how-it-works h1{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-family: cursive;
    color: #404040;
}
.register-section img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 40%;
}
.write-section img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 40%;
}
.world-section img{
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-left: 40%;
}
.how-it-works-section{
    margin-top: 5%;
    margin-left: 3%;
}
.how-it-works-section p{
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}
.featured-pitches{
    margin-top: 6%;
}
.featured-pitches h1{
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    font-family: cursive;
    color: #404040;
}
.featured-pitches-section{
    margin-top: 5%;
    margin-left: 8%;
}
.featured-pitches-section .card{
    width: 80%;
    max-height: 100%;
}
.featured-pitches-section h5{
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
}
.featured-pitches-section .card p{
    font-size: 14px;
}