{% extends "base.html" %}
{% import 'macros.html' as macro %}
{% import 'bootstrap/wtf.html' as wtf%}
<!-- Content block -->
{% block content %}
<div class="container-fluid flex flex-column" style="margin: 0; padding: 0;">
    <nav class="navbar fixed-top navbar-expand">
        <a class="navbar-brand" href="/category">
            <img src="/static/images/pitch-logo.png" alt="logo" />
            <span>Pitch-it</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" style="margin-right: 10%;">
                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{current_user.username}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('main.new_pitch')}}">Pitch</a>
                        <a class="dropdown-item"
                            href="{{url_for('main.profile',uname=current_user.username)}}">Account</a>
                        <a class="dropdown-item" href="{{url_for('auth.logout')}}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{url_for('auth.register')}}"><button type="button" class="nav-signup-button">SIGN
                            UP</button></a>&nbsp;
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                    <a href="{{url_for('auth.login')}}"><button type="button"
                            class="nav-login-button">LOGIN</button></a>
                </li>
                {%endif%}
            </ul>
        </div>
    </nav>

    <div class="container categories">
        <div class="row">
            <div class="col-md-4">
                <div class="category">
                    <h1>Categories</h1>
                    <a class="nav-link" href="#all"><button type="button">All</button></a>
                    <a class="nav-link" href="/"><button type="button">Sales</button></a>
                    <a class="nav-link" href="/"><button type="button">Interview</button></a>
                    <a class="nav-link" href="/"><button type="button">Elevator</button></a>
                    <a class="nav-link" href="/"><button type="button">Promotion</button></a>
                    <a class="nav-link" href="/"><button type="button">Personal</button></a>
                    <a class="nav-link" href="/"><button type="button">Pickup-lines</button></a>
                </div>
            </div>

            <div class="col-md-4 show-pitch" id="all">
                {{ macro.displayPitch(pitches)}}
            </div>

        </div>
    </div>
</div>
{% endblock %}