{% extends "base.html" %}
{% import 'macros.html' as macro %}
<!-- Content block -->
{% block content %}
<div class="container-fluid flex flex-column" style="margin: 0; padding: 0;">
    <nav class="navbar fixed-top navbar-expand">
        <a class="navbar-brand" href="/">
            <img src="/static/images/pitch-logo.png" alt="logo" />
            <span>Pitch-it</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" style="margin-right: 10%;">
                {% if current_user.is_authenticated %}
                <li style="color:white;padding:15px;">{{current_user.username}}</li>
                <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                {% else %}
                <li class="nav-item">
                    <button type="button" class="nav-signup-button" data-toggle="modal"
                        data-target="#register-modal">SIGN UP</button>&nbsp;
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                    <a href="{{url_for('auth.login')}}"><button type="button" class="nav-login-button">LOGIN</button></a>
                </li>
                {%endif%}
            </ul>
        </div>
    </nav>

    <!--Register Modal -->
    <div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="register-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100" id="register-modal" style="font-size: 26px;">Create an account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="email">Email</label><br>
                    <input type="email" placeholder="Email address"></input><br><br>

                    <label for="email">Username</label><br>
                    <input type="text" placeholder="Username"></input><br><br>

                    <label for="email">Password</label><br>
                    <input type="password" placeholder="Password"></input><br><br>

                    <label for="email">Confirm Password</label><br>
                    <input type="password" placeholder="Confirm Password"></input>
                </div>
                <div class="modal-footer">
                    <button type="button">SIGN UP</button>
                </div>
            </div>
        </div>
    </div>

    <!--login Modal -->
    <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="login-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title w-100" id="login-modal" style="font-size: 26px;">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/login">
                        <label for="email">Email</label><br>
                        <input type="email" placeholder="Email address"></input><br><br>

                        <label for="email">Password</label><br>
                        <input type="password" placeholder="Password"></input><br><br>

                        <input type="checkbox" id="check" name="vehicle1" value="check">
                        <label for="check" style="margin-left: -42%;">Remember Me</label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button">LOGIN</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container categories">
        <div class="row">
            <div class="col-md-4">
                <div class="category">
                    <h1>Categories</h1>
                    <a href="/"><button type="button">All</button></a>
                    <a href="/"><button type="button">Sales</button></a>
                    <a href="/"><button type="button">Interview</button></a>
                    <a href="/"><button type="button">Elevator</button></a>
                    <a href="/"><button type="button">Promotion</button></a>
                    <a href="/"><button type="button">Personal</button></a>
                    <a href="/"><button type="button">Pickup-lines</button></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="static/images/pitch.gif" class="card-img-top" alt="pitch-write">
                    <div class="card-body">
                        <h5 class="card-title">Sales Pitch</h5>
                        <p class="card-text">
                            “We at pitch-it connect thousands of people through the
                            power of pitching, one minute can either make or break you,
                            impress others through your pitches.”
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="static/images/pitch.gif" class="card-img-top" alt="pitch-write">
                    <div class="card-body">
                        <h5 class="card-title">Sales Pitch</h5>
                        <p class="card-text">
                            “We at pitch-it connect thousands of people through the
                            power of pitching, one minute can either make or break you,
                            impress others through your pitches.”
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}