{% extends "base.html" %}
{% import 'macros.html' as macro %}
<!-- Content block -->
{% block body %}
<div class="container-fluid flex flex-column" style="margin: 0; padding: 0;">
    <nav class="navbar fixed-top navbar-expand">
        <a class="navbar-brand" href="/">
            <img src="/static/images/pitch-logo.png" alt="logo" />
            <span>Pitch-it</span>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" style="margin-right: 10%;">
                {% if current_user.is_authenticated %}
                <li style="color:white;padding:15px;">{{current_user.username}}</li>
                <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                {% else %}
                <li class="nav-item">
                    <a href="{{url_for('auth.register')}}"><button type="button" class="nav-signup-button">SIGN UP</button></a> &nbsp;
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                    <a href="{{url_for('auth.login')}}"><button type="button" class="nav-login-button">LOGIN</button></a>
                </li>
                {%endif%}
            </ul>
        </div>
    </nav>

    <div class="container categories">
        <div class="row">
            <div class="col-md-4">
                <div class="category">
                    <h1>Categories</h1>
                    <a href="/"><button type="button">All</button></a>
                    <a href="/"><button type="button">Sales</button></a>
                    <a href="/"><button type="button">Interview</button></a>
                    <a href="/"><button type="button">Elevator</button></a>
                    <a href="/"><button type="button">Promotion</button></a>
                    <a href="/"><button type="button">Personal</button></a>
                    <a href="/"><button type="button">Pickup-lines</button></a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="static/images/pitch.gif" class="card-img-top" alt="pitch-write">
                    <div class="card-body">
                        <h5 class="card-title">Sales Pitch</h5>
                        <p class="card-text">
                            “We at pitch-it connect thousands of people through the
                            power of pitching, one minute can either make or break you,
                            impress others through your pitches.”
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img src="static/images/pitch.gif" class="card-img-top" alt="pitch-write">
                    <div class="card-body">
                        <h5 class="card-title">Sales Pitch</h5>
                        <p class="card-text">
                            “We at pitch-it connect thousands of people through the
                            power of pitching, one minute can either make or break you,
                            impress others through your pitches.”
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}