{% extends "base.html" %}
{% import 'macros.html' as macro %}
<!-- Content block -->
{% block body %}
<div class="container-fluid flex flex-column" style="margin: 0; padding: 0;">
    <nav class="navbar fixed-top navbar-expand-lg">
        <a class="navbar-brand" href="/">
            <img src="static/images/pitch-logo.png" alt="logo" />
            <span>Pitch-it</span>
        </a>
    </nav>

    <div class="container index-info">
        <div class="row">
            <div class="col-md-6">
                <div class="intro-info">
                    <h1>Hi, we're <br> Pitch-it.</h1>
                    <p><span>The world's most loved pitching platform</span> <br> <br>
                        Pitch-it connects thousands of people through <br>
                        the power of pitching.
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="intro-image">
                    <img src="static/images/pitch-inter.png" alt="image">
                </div>
            </div>
        </div>

        <div class="button">
            <a href="/"><button type="button">SIGN UP</button></a> &nbsp;
            <a href="/"><button type="button" class="login-button">LOGIN</button></a>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="how-it-works">
                    <h1>How it works</h1>
                </div>
            </div>
        </div>

        <div class="how-it-works-section">
            <div class="row">
                <div class="col-md-4 register-section">
                    <img src="static/images/pitch-register.png" alt="register-logo">
                    <p>
                        Create an account, with us to <br>
                        view pitches, like and comment.
                    </p>
                </div>
                <div class="col-md-4 write-section">
                    <img src="static/images/pitch-write.png" alt="write-logo">
                    <p>
                        One minute can either make you or break you,<br>
                        get the chance to impress someone through <br>
                        writing pitches.
                    </p>
                </div>
                <div class="col-md-4 world-section">
                    <img src="static/images/pitch-world.png" alt="world-logo">
                    <p>
                        Get known to the world through the <br>
                        wonderful pitches you post.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="featured-pitches">
                    <h1>Featured pitches</h1>
                </div>
            </div>
        </div>

        <div class="featured-pitches-section">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="static/images/pitch.gif" class="card-img-top" alt="pitch-write">
                        <div class="card-body">
                            <h5 class="card-title">Sales Pitch</h5>
                            <p class="card-text">
                                “We at pitch-it connect thousands of people through the
                                power of pitching, one minute can either make or break you,
                                impress others through your pitches.”
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="static/images/pitch.gif" class="card-img-top" alt="pitch-write">
                        <div class="card-body">
                            <h5 class="card-title">Interview Pitch</h5>
                            <p class="card-text">
                                “Hi, my name is Sara. It’s so nice to meet
                                you! I’m a PR manager, specializing in overseeing
                                successful initiative launches from beginning to end.”
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                        <img src="static/images/pitch.gif" class="card-img-top" alt="pitch-write">
                        <div class="card-body">
                            <h5 class="card-title">Elevator Pitch</h5>
                            <p class="card-text">
                                “I’m Joe Neely–Alpaca lovers buy my T-shirts to share
                                their love of Alpacas and DroneClip. We offer hands-free
                                alpaca shearing solutions.”
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="browse-button">
            <a href="/category"><button>BROWSE ALL PITCHES</button></a>
        </div>
    </div>
</div>
{% endblock %}