{% macro displayPitch(category) %}
{%if category%}
{% for pitch in category %}

<div class="container">
	<div class="card">
		<img src="/static/images/pitch.gif" class="card-img-top" alt="pitch">
		<div class="card-body">
			<h5 class="card-title">{{pitch.title}}</h5>
			<p class="card-text">{{pitch.category}}</p>
			<p class="card-text">{{pitch.content}}</p>
			<p class="card-text">Posted by: {{pitch.author.username}}</p>
		</div>
	</div>
</div>
{%else%}
<p>No pitches to show</p>
{% endfor %}
{%endif%}
{% endmacro %}